.accordion {
    border-top: 1px solid rgba(45, 52, 124, 0.2);
    margin-bottom: 15px;
    @include respond-to('small') {
        margin-bottom: 30px;
    }
    &__item {
        border-bottom: 1px solid rgba(45, 52, 124, 0.2);
    }
    &__button {
        display: block;
        padding: 20px 40px 20px 0;
        font-weight: 600;
        @include fluid-type(320px, 1360px, 16px, 18px);
        @include line-height(320px, 1360px, 22px, 24px);
        position: relative;
        cursor: pointer;
        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }
    }
    &__content {
        display: none;
        p {
            margin-bottom: 20px;
        }
        li {
            // color: $color-text-light;
            @include respond-to('medium') {}
        }
    }
}

.icon-expand {
    height: 24px;
    width: 24px;
    min-width: 24px;
    &::before,
    &::after {
        background-color: $secondary-color;
        content: '';
        position: absolute;
        transition: transform 0.25s ease-out;
    }
    // Vertical line
    &::before {
        height: 24px;
        left: 50%;
        margin-left: -1px;
        top: 0;
        width: 2px;
    }
    // Horizontal line
    &::after {
        height: 2px;
        left: 0;
        margin-top: -1px;
        top: 50%;
        width: 24px;
    }
    // Minus sign
    &.up {
        cursor: pointer;
        &::before {
            transform: rotate3d(0, 0, 1, 90deg);
        }
        &::after {
            transform: rotate3d(0, 0, 1, 180deg);
        }
    }
}

// .accordion {
//     background-color: $color-background-ultralight;
//     padding-top: 40px;
//     margin-bottom: 40px;
//     @include respond-to('medium') {
//         padding: 100px 0 30px 0;
//         margin-bottom: 80px;
//     }
//     h3 {
//         margin: 0;
//     }
//     &-title {
//         margin-bottom: 40px;
//         display: flex;
//         align-items: center;
//         @include respond-to('large') {
//             margin-bottom: 56px;
//             margin-left: -60px;
//         }
//     }
//     .round-question-mark {
//         position: relative;
//         width: 40px;
//         height: 40px;
//         border-radius: 50%;
//         background-color: $color-white;
//         margin-right: 20px;
//         flex: none;
//         img {
//             position: absolute;
//             display: block;
//             top: 12px;
//             left: 12px;
//         }
//     }
//     button {
//         cursor: pointer;
//         background: transparent;
//         @extend %type-base;
//         font-family: $font-bold;
//         color: $color-text-default;
//         width: 100%;
//         text-align: left;
//         position: relative;
//         padding-right: 50px;
//         @include respond-to('medium') {
//             font-size: 20px;
//             line-height: 28px;
//         }
//     }
//     .round-arrow-down {
//         position: absolute;
//         top: 0;
//         right: 0;
//     }
//     &-item {
//         padding-bottom: 32px;
//         margin-bottom: 20px;
//         border-bottom: 1px solid $color-border-ultralight;
//         &:last-of-type {
//             border-bottom: 0;
//         }
//         @include respond-to('medium') {
//             padding-bottom: 40px;
//             margin-bottom: 32px;
//         }
//     }
//     &-content {
//         display: none;
//         p {
//             margin: 0;
//             padding-top: 36px;
//             color: $color-text-light;
//             @include respond-to('medium') {
//                 font-size: 16px;
//                 line-height: 24px;
//                 max-width: 520px;
//             }
//         }
//     }
// }