.back-to-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 35px;
    height: 35px;
    z-index: 9999;
    cursor: pointer;
    transition: opacity 0.2s ease-out;
    background-color: $primary-color;
    border-radius: 50%;
    text-align: center;
    .arrow {
        border: solid white;
        border-width: 0 2px 2px 0;
        margin-top: 14px;
        @include respond-to("small") {
            margin-top: 20px;
        }
    }
    @include respond-to("small") {
        width: 50px;
        height: 50px;
    }
    &:hover {
        opacity: 0.9;
    }
}