/*----------  Button  ----------*/

.btn {
    font-size: 12px;
    border-top-left-radius: 27px;
    border-bottom-right-radius: 27px;
    text-transform: uppercase;
    padding: 14px 29px;
    font-weight: 600;
    letter-spacing: .1px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, border-radius 0.4s ease-in-out;
    @include respond-to("small") {
        font-size: 16px;
        padding: 19px 37px;
    }
    &--border {
        border: 1px solid transparent;
        background-color: transparent;
        transform: scaleX(1);
        &:hover,
        &:focus {
            border-top-right-radius: 27px;
            border-bottom-left-radius: 27px;
            border-top-left-radius: 0px;
            border-bottom-right-radius: 0px;
            transform: scaleX(1.07);
        }
    }
    &--border-blue {
        border-color: $primary-color;
        overflow: hidden;
        position: relative;
        transform: scaleX(1);
        &:hover,
        &:focus {
            border-top-right-radius: 27px;
            border-bottom-left-radius: 27px;
            border-top-left-radius: 0px;
            border-bottom-right-radius: 0px;
            transform: scaleX(1.07);
            &:after {
                left: 120%;
                transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
        &:after {
            background: #fff;
            content: "";
            height: 155px;
            left: -75px;
            opacity: .2;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            width: 50px;
            z-index: -10;
        }
    }
    &--border-white {
        border-color: #fff;
        color: #fff;
        overflow: hidden;
        position: relative;
        transform: scaleX(1);
        &:hover,
        &:focus {
            border-top-right-radius: 27px;
            border-bottom-left-radius: 27px;
            border-top-left-radius: 0px;
            border-bottom-right-radius: 0px;
            transform: scaleX(1.07);
            &:after {
                left: 120%;
                transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
        &:after {
            background: #fff;
            content: "";
            height: 155px;
            left: -75px;
            opacity: .2;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            width: 50px;
            z-index: -10;
        }
    }
    &--white {
        background-color: white;
        color: $primary-color;
        overflow: hidden;
        position: relative;
        transform: scaleX(1);
        &:hover,
        &:focus {
            border-top-right-radius: 27px;
            border-bottom-left-radius: 27px;
            border-top-left-radius: 0px;
            border-bottom-right-radius: 0px;
            transform: scaleX(1.07);
            &:after {
                left: 120%;
                transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
        &:after {
            background: $primary-color;
            content: "";
            height: 155px;
            left: -85px;
            opacity: .2;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            width: 50px;
        }
    }
    &--red {
        background-color: $contrast-color;
        color: #fff;
        overflow: hidden;
        position: relative;
        transform: scaleX(1);
        &:hover,
        &:focus {
            border-top-right-radius: 27px;
            border-bottom-left-radius: 27px;
            border-top-left-radius: 0px;
            border-bottom-right-radius: 0px;
            transform: scaleX(1.07);
            &:after {
                left: 120%;
                transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
        &:after {
            background: #fff;
            content: "";
            height: 155px;
            left: -75px;
            opacity: .2;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            width: 50px;
            z-index: -10;
        }
    }
}

.btn-link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: $contrast-color;
    padding: 0;
    cursor: pointer;
    .arrow {
        margin-left: 7px;
    }
    @include respond-to("small") {
        font-size: 14px;
    }
}

.btn-group {
    .btn:nth-of-type(1) {
        margin-right: 5px;
        @include respond-to('medium') {
            margin-right: 20px;
        }
    }
    .btn {
        width: calc(50% - 5px);
        padding: 14px 14px;
        font-size: 12px;
        max-width: 200px;
        @include respond-to('medium') {
            padding: 19px 28px;
            font-size: 16px;
        }
    }
}