/*----------  Cart contact  ----------*/

.cart-contact {
    background-color: #fff;
    box-shadow: $box-shadow;
    border-radius: $border-radius-large;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 190px;
    padding: 27px 25px 25px 25px;
    cursor: pointer;
    &__bottom {
        margin-top: 15px;
        @include respond-to('medium') {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
    @include respond-to('medium') {
        height: 100%;
    }
    h4,
    h5 {
        font-weight: 700;
        span {
            font-weight: 400;
            display: block;
            @include fluid-type(320px, 1360px, 14px, 16px);
            @include line-height(320px, 1360px, 21px, 26px);
        }
    }
    h4 {
        >span {
            margin-top: 9px;
        }
        a {
            display: block;
        }
    }
    h5 {
        @include fluid-type(320px, 1360px, 14px, 16px);
        @include line-height(320px, 1360px, 21px, 22px);
        @include respond-to('medium') {
            margin-bottom: 0;
        }
        span {
            margin-bottom: 5px;
        }
    }
    .arrow {
        border: solid $contrast-color;
        border-width: 0 2px 2px 0;
        position: relative;
        right: 0;
        transition: 0.4s;
    }
    .btn-link {
        position: relative;
        left: 0;
        transition: 0.4s;
        &::before {
            transition: 0.4s;
            position: absolute;
            top: 6px;
            right: -50px;
            opacity: 0;
            width: 30px;
            height: 2px;
            background: $contrast-color;
            content: ' ';
        }
    }
    &:hover {
        .btn-link {
            left: 0;
            @include respond-to('medium') {
                left: -30px;
            }
            &::before {
                right: -33px;
                opacity: 1;
                @include respond-to('small') {
                    right: -28px;
                }
            }
            .arrow {
                right: -10px;
                transform: rotate(135deg);
            }
        }
    }
}