/*----------  Car item  ----------*/

.cart-icon {
    height: 100%;
    transition: transform .3s ease-in-out;
    // @include respond-to("medium") {
    .cart-icon__icon-img {
        transform: scale(1);
        transition: transform .3s ease-in-out;
    }
    &:hover {
        .btn-link {
            opacity: 1;
        }
        .cart-icon__icon-img {
            transform: scale(1.1);
        }
    }
    // }
    &__icon-img {
        width: 40px;
        height: 40px;
        margin-bottom: 15px;
        @include respond-to('large') {
            width: 56px;
            height: 56px;
        }
        img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__content {
        margin-bottom: 20px;
        line-height: 21px;
        @include respond-to("medium") {
            line-height: 23px;
        }
        @include respond-to("xlarge") {
            margin-bottom: 35px;
        }
        h4 {
            @include respond-to("medium") {
                margin-bottom: 18px;
            }
        }
    }
    &--center {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .btn-link {
        margin-top: auto;
        transition: opacity .3s ease-in-out;
        @include respond-to("medium") {
            opacity: 0;
        }
    }
    &-wrap {
        margin-bottom: 15px;
        @include respond-to("small") {
            margin-bottom: 45px;
        }
    }
}