/*----------  Cart news  ----------*/

.cart-news {
    display: inline-block;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid $border-color;
    &:hover {
        .cart-news__img {
            transition: all .3s ease-in-out;
            background-color: rgba(45, 52, 124, .5);
            background-blend-mode: multiply;
        }
        .btn-link {
            &::before {
                right: -50px;
                opacity: 1;
            }
            .arrow {
                left: 50px;
            }
        }
    }
    &:nth-last-of-type(1) {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }
    @include respond-to('xsmall') {
        display: flex;
        flex-direction: row;
        &__img,
        &__content {
            width: 50%;
        }
    }
    &__content {
        @include respond-to('xsmall') {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__img {
        height: 0;
        padding-bottom: 56.25%;
        margin-bottom: 15px;
        background-size: cover;
        transition: all .3s ease-in-out;
        &--square {
            height: 0;
            padding-bottom: 100%;
        }
        @include respond-to('xsmall') {
            margin-bottom: 0;
            margin-right: 25px;
            padding-bottom: 28%;
        }
    }
    &__date {
        display: inline-block;
        opacity: .7;
        font-size: 12px;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    &__title {
        @include fluid-type(320px, 768px, 14px, 16px);
        @include line-height(320px, 768px, 21px, 22px);
    }
    .btn-link {
        margin-top: 15px;
        font-size: 12px;
        position: relative;
        @include respond-to('xsmall') {
            margin-top: auto;
        }
        &::before {
            transition: right 0.4s, opacity 0.7s;
            position: absolute;
            top: 6px;
            right: 50px;
            opacity: 0;
            width: 50px;
            height: 2px;
            background: $contrast-color;
            content: ' ';
        }
        .arrow {
            padding: 3px;
            position: relative;
            left: 0;
            transition: 0.4s;
        }
    }
    // Cart news large 
    &--large {
        @include respond-to('medium') {
            flex-direction: column;
        }
        .cart-news__img {
            margin-bottom: 20px;
            @include respond-to('medium') {
                margin-bottom: 30px;
                padding-bottom: 56.25%;
                width: 100%;
            }
        }
        .cart-news__content {
            @include respond-to('medium') {
                width: 100%;
            }
        }
        .cart-news__title {
            @include fluid-type(320px, 1360px, 20px, 24px);
            @include line-height(320px, 1360px, 24px, 28px);
            margin-bottom: 18px;
        }
        .cart-news__date {
            font-size: 14px;
            font-weight: 400;
            display: inline-block;
            margin-bottom: 10px;
        }
        .btn-link {
            margin-top: 14px;
            font-size: 14px;
            &::after {
                top: 8px;
            }
            .arrow {
                bottom: 2px;
            }
            @include respond-to('xlarge') {
                line-height: 16px;
            }
        }
    }
}