/* ----------- Contact form ---------------- */

$form-breakpoint: 641px;
$form-breakpoint1:761px;
$form-breakpoint2: 768px;
$form-breakpoint3:1023px;
.contact {
    .gform_wrapper {
        margin-top: 0;
        ul li {
            padding-left: 0;
            margin-bottom: 24px;
            &.message {
                margin-bottom: 30px;
            }
        }
        ul li.gfield {
            margin-top: 0;
        }
        h3.gform_title {
            margin: 0 0 20px 0;
        }
        input[type="reset"],
        input[type="submit"] {
            border-radius: 0;
            background: white;
            color: $primary-color;
            border-top-left-radius: 27px;
            border-bottom-right-radius: 27px;
            text-transform: uppercase;
            padding: 15px 50px;
            font-weight: 600;
            letter-spacing: .1px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            height: auto;
            @include respond-to("small") {
                padding: 20px 70px;
            }
            transition: border-radius 0.4s ease-in-out;
            &:hover,
            &:focus {
                border-top-right-radius: 27px;
                border-bottom-left-radius: 27px;
                border-top-left-radius: 0px;
                border-bottom-right-radius: 0px;
                +.button-anima {
                    left: 120%;
                    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
                }
            }
        }
        .button-anima {
            background: $primary-color;
            content: "";
            height: 155px;
            left: -85px;
            opacity: .2;
            position: absolute;
            display: block;
            top: -50px;
            transform: rotate(35deg);
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            width: 50px;
            z-index: 1;
        }
        input[type="text"],
        input[type="email"],
        input[type="url"],
        input[type="password"],
        input[type="search"],
        input[type="number"],
        input[type="tel"],
        input[type="range"],
        input[type="date"],
        input[type="month"],
        input[type="week"],
        input[type="time"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="color"],
        textarea {
            color: #fff;
            line-height: 14px;
            border: 0.733333px solid rgba(255, 255, 255, 0.7);
            border-radius: 4px;
            background: $primary-color;
            transition: border 0.3s ease;
            @include placeholder(transparent);
        }
        input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
            padding: 20px 6px 5px 6px;
            font-size: 14px;
            line-height: 14px;
        }
        .e-mail input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
            @include respond-to("small") {
                padding: 20px 6px 5px 13px;
            }
        }
        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="url"]:focus,
        input[type="password"]:focus,
        input[type="search"]:focus,
        input[type="number"]:focus,
        input[type="tel"]:focus,
        input[type="range"]:focus,
        input[type="date"]:focus,
        input[type="month"]:focus,
        input[type="week"]:focus,
        input[type="time"]:focus,
        input[type="datetime"]:focus,
        input[type="datetime-local"]:focus,
        input[type="color"]:focus,
        textarea:focus {
            color: #fff;
            border: 0.733333px solid rgba(255, 255, 255, 1);
        }
        textarea {
            width: 100%;
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            transition: background-color 5000s ease-in-out 0s;
            -webkit-text-fill-color: #fff !important;
        }
        //-----------------------------label animation
        .gfield {
            &.label-anima {
                label {
                    top: 6px;
                    font-size: 10px;
                    line-height: 12px;
                    color: rgba(255, 255, 255, 0.7);
                }
                input[type="text"],
                input[type="email"],
                textarea {
                    border: 0.733333px solid rgba(255, 255, 255, 1);
                }
            }
        }
        .message.label-anima {
            label.gfield_label {
                top: 8px;
            }
        }
        ul.gform_fields li.gfield {
            padding-right: 0;
            @include respond-to('xsmall') {
                padding-right: 12px;
            }
        }
        textarea {
            font-size: 14px;
            line-height: 20px;
            margin-top: 0;
            padding: 22px 13px 13px 13px;
        }
        .gform_footer {
            margin: 0;
            padding: 0 0 10px 0;
            position: relative;
            overflow: hidden;
        }
        .gform_footer input.button,
        .gform_footer input[type=submit] {
            line-height: 16px;
            font-size: 12px;
            @include respond-to("small") {
                font-size: 16px;
            }
        }
        label.gfield_label {
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            position: absolute;
            color: #fff;
            top: 17px;
            left: 6px;
            cursor: text;
            user-select: none;
            transition: all .4s ease-in-out;
        }
        .e-mail label.gfield_label {
            left: 6px;
            @include respond-to("small") {
                left: 13px;
            }
        }
        .message label.gfield_label {
            top: 19px;
            left: 13px;
        }
        .top_label div.ginput_container {
            margin-top: 0;
        }
        // ----------------------- overide form validation message styles
        div.validation_error {
            border-top: 1px solid rgba(237, 29, 36, 0.9);
            border-bottom: 1px solid rgba(237, 29, 36, 0.9);
            color: rgba(237, 29, 36, 0.9);
            max-width: calc(100% - 12px);
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            padding: 10px 0;
        }
        .validation_message {
            color: rgba(237, 29, 36, 0.9);
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin-top: 2px;
            padding-right: 0 !important;
        }
        .message .validation_message {
            margin-top: -5px;
            margin-bottom: 0;
        }
        li.gfield.gfield_error {
            background-color: transparent;
            margin-bottom: 15px !important;
            border-top: none;
            border-bottom: none;
            padding-bottom: 0;
            padding-top: 0;
            margin-top: 0;
        }
        .field_description_below .gfield_description {
            padding-top: 0;
        }
        li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
        li.gfield_error textarea {
            // border: 1px solid rgba(237, 29, 36, 0.9);
            border: 0.733333px solid rgba(255, 255, 255, 0.7);
        }
        li.gfield_error.label-anima input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
        li.gfield_error textarea {
            // border: 1px solid rgba(237, 29, 36, 0.9);
            border: 0.733333px solid rgba(255, 255, 255, 1);
        }
        @media only screen and (min-width:$form-breakpoint) {
            .top_label li.gfield.gfield_error.gf_left_third,
            .top_label li.gfield.gfield_error.gf_middle_third {
                width: 33.3% !important;
                max-width: 33.3% !important;
                margin-right: 0;
                margin-bottom: 20px;
            }
            .top_label li.gfield.gf_left_third,
            .top_label li.gfield.gf_middle_third,
            .top_label li.gfield.gf_right_third {
                margin-bottom: 24px;
            }
            &.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
                max-width: 100% !important;
            }
        }
        @media only screen and (max-width: $form-breakpoint1),
        (max-device-width: $form-breakpoint3) and (min-device-width: $form-breakpoint2) {
            ul.gform_fields li.gfield.gfield_error+li.gfield.gfield_error {
                margin-top: 0;
            }
        }
        .description,
        .gfield_description,
        .gsection_description {
            padding: 0;
        }
        #gform_ajax_spinner_1 {
            margin: 0 auto;
            display: flex;
            @include respond-to("small") {
                display: inline-block;
                margin-top: 20px;
            }
        }
        li.gfield.gfield_error.gfield_contains_required div.ginput_container,
        li.gfield.gfield_error.gfield_contains_required label.gfield_label {
            margin-top: 0 !important;
        }
        .gfield_required {
            color: #fff;
        }
    }
    .gform_confirmation_wrapper {
        margin-top: 30px;
        line-height: 24px;
    }
}

.contact--font-white p {
    a {
        &:hover {
            strong {
                opacity: 0.9;
            }
        }
    }
}