.cookie-notice-container {
    box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.05);
    #cn-notice-text {
        font-family: $font-family;
        margin-right: 20px;
    }
    .cn-button {
        vertical-align: middle;
        background-color: $primary-color !important;
        background-color: $secondary-color !important;
        border-top-left-radius: 14px;
        border-bottom-right-radius: 14px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        padding: 6px 10px !important;
        font-family: $font-family;
        &:hover,
        &:focus {
            border-top-right-radius: 14px;
            border-bottom-left-radius: 14px;
            border-top-left-radius: 0px;
            border-bottom-right-radius: 0px;
            box-shadow: none !important;
        }
    }
    .cn-close-icon {
        opacity: 0.8;
        &::after,
        &::before {
            background-color: $primary-color;
            transition: background-color 0.3s ease;
        }
        &:hover,
        &:focus {
            opacity: 1;
        }
    }
}