/*----------  Float box  ----------*/

.float-box {
    background-color: $white;
    border-radius: $border-radius-large;
    box-shadow: $box-shadow;
    padding: 20px;
    display: block;
    @include respond-to('small') {
        display: flex;
        flex-direction: row;
    }
    @include respond-to('small') {
        padding: 35px;
    }
    &__icon {
        width: 50px;
        height: 50px;
        margin-bottom: 15px;
        img {
            height: 100%;
            width: 100%;
            max-width: 100%;
            max-height: 100%;
        }
        @include respond-to('medium') {
            width: 64px;
            height: 64px;
        }
    }
    &__content {
        @include respond-to('small') {
            width: calc(100% - 50px);
            padding-left: 20px;
        }
        @include respond-to('medium') {
            width: calc(100% - 65px);
        }
    }
    &__title {
        margin-bottom: 16px;
    }
    &__subtitle {
        @include fluid-type(320px, 1360px, 14px, 16px);
        margin-bottom: 16px;
        line-height: 20px;
        font-weight: 500;
        text-transform: uppercase;
        opacity: .7;
    }
    .btn-link {
        margin-top: 20px;
        position: relative;
        transition: 0.3s ease;
        @include respond-to('large') {
            margin-top: 30px;
        }
        &::before {
            transition: 0.4s;
            position: absolute;
            top: 6px;
            right: 50px;
            opacity: 0;
            width: 50px;
            height: 2px;
            background: $contrast-color;
            content: ' ';
            @include respond-to('large') {
                top: 8px;
            }
        }
        .arrow {
            padding: 3px;
            position: relative;
            left: 0;
            transition: 0.4s;
        }
    }
    &:hover {
        .btn-link {
            margin-left: 10px;
            &::before {
                right: -50px;
                opacity: 1;
            }
            .arrow {
                left: 50px;
            }
        }
    }
}