// HERO IMAGE
.hero__img-inner {
    .question {
        position: absolute;
        top: 51%;
        left: 45%;
        width: 3%;
        animation-name: show_in;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-duration: 13s;
        animation-delay: 3s;
        opacity: 0;
    }

    .yellow-box-list {
        position: absolute;
        top: 23.5%;
        left: 42%;
        width: 8%;
        .checkmark {
            position: absolute;
            width: 17%;
            left: 0;
            opacity: 0;
            animation-name: show_checkmark;
            animation-iteration-count: infinite;
            animation-duration: 6s;
            &:nth-of-type(2) {
                animation-delay: 1.5s;
            }
            &:nth-of-type(3) {
                animation-delay: 2s;
            }
            &:nth-of-type(4) {
                animation-delay: 2.4s;
            }
            &:nth-of-type(5) {
                animation-delay: 2.8s;
            }
        }
        img {
            &:nth-of-type(2) {
                top: 0;
            }
            &:nth-of-type(3) {
                top: 25%;
            }
            &:nth-of-type(4) {
                top: 50%;
            }
            &:nth-of-type(5) {
                top: 75%;
            }
        }
    }

    .blue-lines {
        width: 19%;
        position: absolute;
        top: 83%;
        left: 52%;
        z-index: 1;
      
        @include respond-to('medium') {
            top: 82%;
        }
        span {
            width: 100%;
            height: 1.5px;
            border-radius: 2px;
            background: $primary-color;
            position: absolute;
            left: 0px;
            bottom: 0;
            animation-name: zoom-in;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            animation-duration: 7s;
            @include respond-to('medium') {
                height: 1px;
            }
            &:nth-of-type(1) {
                bottom: 12px;
                animation-delay: .3s;
            }
            &:nth-of-type(2) {
                bottom: 6px;
                animation-delay: .5s;
            }
            &:nth-of-type(3) {
                width: 60%;
                left: 20%;
                animation-delay: .7s;
            }
        }
    }
    .red-border-box,
    .yellow-border-box {
        position: absolute;
        top: 3%;
        left: 28%;
        width: 12%;
        .people {
            position: absolute;
            top: 13%;
            left: 16%;
            width: 68%;
        }
    }
    .ball,
    .heart {
        position: absolute;
        top: 31%;
        width: 10%;
    }
    .ball {
        left: 74%;
        animation-name: circle;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        @include respond-to('medium') {
            left: 74%;
        }
    }
    .heart {
        left: 87%;
        width: 11%;
        @include respond-to('medium') {
            left: 87%;
        }
    }
    // circles
    .shape-circle-blue {
        position: absolute;
        top: -10px;
        right: 20%;
        z-index: 1;
        width: 22px;
        height: 22px;
    }
    .shape-circle-red {
        position: absolute;
        top: 5%;
        left: 60%;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: $contrast-color;
        z-index: 1;
    }
    .shape-circle-yellow {
        position: absolute;
        top: -10px;
        left: 0px;
        width: 60px;
        height: 60px;
        z-index: -1;
    }
}

@keyframes circle {
    0% {
        transform: rotate(0);
    }
    
    30% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
  }

@keyframes show_checkmark {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes show_in {
    
    0% {
        opacity: 0;
        transform:scale(.8);
    }
    

    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(.9);
    }
}

@keyframes zoom-in {
    0% {
        transform: scale(0);
    }

    40% {
        transform: scale(0);
    }

    60% {
        transform: scale(1);
        opacity: 1;
    }
    90% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}