$xmobile: 768px;
$tablet: 990px;
$laptop: 1280px;
.cyrcle {
    display: table!important;
    text-align: center;
    >* {
        display: table-cell;
        vertical-align: middle;
    }
}

.cyrcle,
.rect {
    border: 2px solid;
    border-radius: 50%;
    &.blue {
        border-color: $primary-color;
        color: $primary-color;
    }
    &.red {
        border-color: $contrast-color;
        color: $contrast-color;
    }
    &.yellow {
        border-color: $secondary-color;
        color: $secondary-color;
    }
    &-inner {
        &.blue {
            background-color: $primary-color;
            color: #fff;
        }
        &.red {
            background-color: #fff;
            color: $primary-color;
        }
        &.yellow {
            background-color: #fff;
            color: $primary-color;
        }
        &.transparent {
            background-color: transparent!important;
            color: $primary-color;
        }
    }
}

.block-overlay {
    &::after {
        content: '?';
        opacity: 1;
        background: #F5F2F2;
        position: absolute;
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        left: -3px;
        top: -3px;
        color: #9C9EBF;
        font-size: 26px;
        box-shadow: 0 4px 4px rgba(255, 255, 255, 1);
        transition: color .4s ease-in, box-shadow .4s ease-in, opacity .3s ease-in;
    }
    &.cyrcle::after {
        border-radius: 50%;
    }
    &:first-child::after {
        opacity: 0;
        transition: opacity .3s ease-in;
    }
    &.seen::after {
        opacity: 0!important;
        transition: opacity .3s ease-in!important;
    }
    &:hover::after {
        color: $primary-color;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.14);
        transition: color .4s ease-in, box-shadow .4s ease-in;
    }
}

.seen {
    .block-overlay {
        &::after {
            opacity: 0!important;
            transition: opacity .3s ease-in!important;
        }
    }
}

.cyrcle-wrap {
    .block-overlay {
        &:first-child::after {
            opacity: 1;
            transition: opacity .3s ease-in;
        }
    }
}

.infographic {
    padding: 30px;
    margin: 0 -20px;
    @include respond-to('small') {
        margin: 0;
    }
    h1 {
        font-size: 16px;
        line-height: 18px;
        color: $primary-color;
        font-weight: 500;
        padding-bottom: 30px;
    }
    ul.slick-center li {
        margin: 0;
        padding: 0;
        &::before {
            display: none;
        }
    }
}

.graph-wrap {
    margin-left: -30px;
    margin-right: -30px;
}


/*=============================================
=                Application model            =
=============================================*/

#application-model {
    .infographic {
        .middle-cyrcle {
            width: 119px;
            height: 119px;
            @include push--auto;
            position: relative;
            background-color: $secondary-color;
            display: flex !important;
            align-content: center;
            justify-content: center;
            img {
                width: 51px;
            }
        }
        .slick-count {
            font-weight: bold;
            span {
                font-weight: normal;
            }
        }
    }
    .cyrcle-inner {
        position: relative;
        width: 202px;
        height: 202px;
        padding: 5px 10px 10px 10px;
        font-weight: 500;
        @include overlay-center-value(202px);
        margin: 30px 15px 30px;
        cursor: pointer;
        transform: scale(.6);
        transition: transform .3s linear;
        img {
            display: inline-block;
            max-height: 30px;
        }
        p {
            font-size: 14.81px;
            line-height: 100%;
            color: $secondary-color;
            font-weight: 700;
            margin-bottom: 8px;
        }
        li {
            font-size: 10.77px;
            line-height: 12px;
        }
        &.seen,
        &:first-child {
            transform: scale(1);
            transition: transform .3s linear;
        }
        &.seen {
            cursor: default;
        }
    }
}


/*=============================================
=                Guiding principles           =
=============================================*/

#guiding-principles {
    .infographic {
        .papper-holder {
            max-width: 188px;
            border: 3px solid $secondary-color;
            outline: 6px solid #F5F2F2;
            position: relative;
            @include push--auto;
            &::after {
                content: '';
                background-image: url(img/papper-holder.svg);
                position: absolute;
                top: -23px;
                left: 50%;
                transform: translateX(-50%);
                width: 46px;
                height: 30px;
                background-size: 46px 30px;
            }
            p {
                color: $secondary-color;
                font-size: 18.46px;
                font-weight: 500;
                padding: 50px 20px;
                text-align: center;
                margin-top: 0;
                &.simple-text {
                    font-size: 18px;
                    color: $primary-color;
                    line-height: 22px;
                    text-align: left;
                    font-weight: 400;
                }
            }
        }
        .slick-center {
            padding-top: 40px;
            padding-bottom: 30px;
        }
        .rect-inner {
            max-width: 271px;
            border: 2px solid $secondary-color;
            border-radius: 4px;
            padding: 20px;
            margin-right: 15px;
            @include overlay-center-value(330px);
            transform: scale(.6);
            transition: transform .3s linear, top .3s linear;
            cursor: pointer;
            h2 {
                font-size: 14px;
                font-weight: 500;
                line-height: 17px;
                color: $primary-color;
                &::before {
                    content: '';
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: block;
                    margin-bottom: 10px;
                    background-image: url(img/check-mark-white.svg);
                    background-repeat: no-repeat;
                    background-size: 14px 13px;
                    background-position: center;
                    background-color: $secondary-color;
                    border: none;
                    font-size: 24px;
                    color: $border-color;
                    text-align: center;
                    line-height: 40px;
                    transition: all 0.3s ease;
                }
            }
            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                color: $primary-color;
            }
            &.seen,
            &:first-child {
                transform: scale(1);
                transition: transform .3s linear, top .3s linear;
            }
            &.block-overlay::after {
                width: calc(100% + 4px);
                height: calc(100% + 2px);
                left: -2px;
                top: -2px;
                text-align: center;
            }
        }
        .slick-count {
            font-weight: bold;
            span {
                font-weight: normal;
            }
        }
    }
}


/* ======== TABLET ======= */

@media only screen and (min-width: $tablet) {
    .block-overlay {
        &:first-child::after {
            opacity: 1;
            transition: color .4s ease-in, box-shadow .4s ease-in, opacity .3s ease-in;
        }
    }
    .infographic {
        padding: 50px 0;
        h1 {
            font-size: 32px;
            line-height: 36px;
            text-align: center;
        }
    }
    .graph-wrap {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /*=============================================
    =            3. Guiding principles            =
    =============================================*/
    #guiding-principles {
        .infographic {
            max-width: 100%;
            padding: 0;
            .graph-wrap {
                max-width: 900px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .papper-holder {
                flex: 0 0 38%;
                max-width: 100%;
                margin: 0;
                border-width: 4px;
                outline-width: 8px;
                min-height: 381px;
                display: flex;
                align-items: center;
                justify-content: center;
                &::after {
                    top: -40px;
                    width: 87px;
                    height: 56px;
                    background-size: 87px 56px;
                }
                p {
                    font-size: 36px;
                    line-height: 42px;
                }
            }
            .slick-center {
                flex: 0 0 55%;
                .rect-inner {
                    cursor: pointer;
                    transform: scale(1);
                    border: none;
                    max-width: 100%;
                    padding: 0;
                    margin-right: 0;
                    margin-bottom: 20px;
                    min-height: 44px;
                    display: table;
                    &.block-overlay::after {
                        display: none;
                    }
                    h2 {
                        display: table-cell;
                        vertical-align: middle;
                        padding-left: 69px;
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 0;
                        &::before {
                            content: '?';
                            width: 44px;
                            height: 44px;
                            left: 0;
                            top: 50%;
                            border-radius: 50%;
                            display: block;
                            margin-bottom: 10px;
                            border: 2px solid #F5F2F2;
                            font-size: 24px;
                            color: $border-color;
                            text-align: center;
                            line-height: 44px;
                            background-image: none;
                            background-color: initial;
                            transform: translateY(-50%);
                            position: absolute;
                            background-size: 21.5px 18px;
                            margin-bottom: 0;
                        }
                    }
                    &.clicked {
                        h2::before {
                            content: '';
                            background-image: url(img/check-mark-white.svg);
                            background-repeat: no-repeat;
                            background-size: 14px 13px;
                            background-position: center;
                            background-color: $secondary-color;
                            border: none;
                        }
                    }
                    &:hover {
                        h2::before {
                            border-color: $secondary-color;
                            color: $secondary-color;
                        }
                    }
                    &.active {
                        h2 {
                            font-weight: 600;
                            &:before {
                                background-size: 22px 22px;
                            }
                        }
                    }
                    p {
                        display: none;
                    }
                }
            }
            .slick-count {
                display: none!important;
            }
        }
    }
    /*=============================================
    =            7. Application model            =
    =============================================*/
    #application-model {
        .graph-wrap {
            max-width: 630px;
            width: 100%;
            height: 624px;
            position: absolute;
            top: calc(50% + 50px);
            left: 50%;
            transform: translate(-50%, -50%);
            .middle-cyrcle {
                position: absolute;
                width: 220px;
                height: 220px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                img {
                    width: 80px;
                }
                p {
                    font-size: 22px;
                }
                li {
                    font-size: 16px;
                    line-height: 18px;
                }
            }
            .cyrcle-inner {
                position: absolute;
                top: initial;
                width: 300px;
                height: 300px;
                @include overlay-center-value(300px);
                margin: 0;
                transform: scale(1);
                img {
                    max-height: 43px;
                }
                p {
                    font-size: 22px;
                    line-height: 26px;
                    margin-bottom: 13px;
                    margin-top: 12px;
                }
                li {
                    font-size: 16px;
                    line-height: 22px;
                    padding-bottom: 5px;
                }
                &:nth-child(1) {
                    top: 0;
                    left: -20px;
                }
                &:nth-child(2) {
                    top: 0;
                    right: -20px;
                }
                &:nth-child(3) {
                    bottom: 0;
                    right: -20px;
                }
                &:nth-child(4) {
                    bottom: 0;
                    left: -20px;
                }
            }
        }
        .slick-count {
            display: none!important;
        }
    }
    #application-model .graph-wrap,
    #guiding-principles .infographic .graph-wrap {
        position: relative;
        top: initial;
        left: initial;
        transform: translate(0, 0);
        @include push--auto;
    }
}


/* ======== LAPTOP ======= */

@media only screen and (min-width: $laptop) {
    #application-model {
        .graph-wrap {
            .middle-cyrcle {
                width: 188px;
                height: 188px;
            }
            .cyrcle-inner {
                &:nth-child(1) {
                    top: 0;
                    left: 0;
                }
                &:nth-child(2) {
                    top: 0;
                    right: 0;
                }
                &:nth-child(3) {
                    bottom: 0;
                    right: 0;
                }
                &:nth-child(4) {
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}