.pagination {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include respond-to('small') {
        padding: 90px 0 30px 0;
    }
    .page-numbers {
        @include fluid-type(320px, 1360px, 12px, 16px);
        margin-right: 5px;
        color: rgba(45, 52, 124, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        @include respond-to('small') {
            margin-right: 10px;
        }
        &.next,
        &.prev {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                display: block;
                top: 17px;
                border: solid rgba(45, 52, 124, 0.7);
                border-width: 0 1px 1px 0;
                width: 6px;
                height: 6px;
            }
        }
        &.next {
            &::after {
                transform: rotate(-45deg);
            }
        }
        &.prev {
            &::after {
                transform: rotate(135deg);
            }
        }
        &.current {
            background: rgba(45, 52, 124, 0.1);
            color: $primary-color;
            font-weight: 500;
        }
        &.disabled {
            display: none;
        }
    }
    a {
        &:hover {
            text-decoration: none;
            color: $primary-color;
        }
        &.next,
        &.prev {
            &:hover {
                &::after {
                    border: solid $primary-color;
                    border-width: 0 1px 1px 0;
                }
            }
        }
    }
}