/*----------  Searchform  ----------*/

.searchform {
    flex: 1;
    position: relative;
    margin-bottom: 10px;
    @include respond-to('medium') {
        margin-bottom: 0;
    }
    input[type="text"] {
        padding: 9px 8px 8px 35px;
        color: $font-color;
        border: 1px solid rgba(45, 52, 124, 0.5);
        border-radius: 3px;
        @include respond-to('medium') {
            border: 1px solid transparent;
            position: relative;
            z-index: 99;
        }
        &:not(:placeholder-shown),
        &:focus {
            @include respond-to('medium') {
                border: 1px solid rgba(45, 52, 124, 0.5);
                z-index: 0;
            }
        }
    }
    &__input {
        outline: none;
        width: 250px;
        @include placeholder($font-color);
        @include respond-to('medium') {
            width: 40px;
            transition: width 0.4s ease-in;
            background-color: transparent;
            @include placeholder(transparent);
            cursor: pointer;
        }
        &:not(:placeholder-shown),
        &:focus {
            @include respond-to('medium') {
                width: 100%;
                max-width: 260px;
                background-color: #fff;
                cursor: text;
                @include placeholder($font-color);
            }
        }
    }
    input[type="submit"],
    &__button {
        position: absolute;
        top: 8px;
        left: 8px;
        width: 19px;
        height: 19px;
        padding: 0;
        background-image: url(img/loop-icon-blue.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
    }
    .home &,
    .sticky-navbar & {
        &__input {
            &:not(:placeholder-shown),
            &:focus {
                @include respond-to('medium') {
                    background-color: #fff;
                    border: 0;
                }
                ~.searchform__button {
                    @include respond-to('medium') {
                        background-image: url(img/loop-icon-bluex2.png);
                    }
                }
            }
        }
        input[type="submit"],
        &__button {
            @include respond-to('medium') {
                background-image: url(img/loop-icon-white.png);
            }
        }
        input[type="text"] {
            @include respond-to('medium') {
                border: 0;
            }
            &:not(:placeholder-shown),
            &:focus {
                @include respond-to('medium') {
                    border: 0;
                }
            }
        }
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        transition: background-color 5000s ease-in-out 0s;
        // -webkit-text-fill-color: $font-color !important;
    }
}