.shape-group {
    display: none;
    @include respond-to('small') {
        display: block;
    }
    position: absolute;
    top: 215px;
    left: 0;
    max-width: 90px;
    .shape-circle-white {
        max-width: 60px;
        position: absolute;
        right: 15px;
        bottom: -30px;
    }
    .shape-circle-blue {
        width: 30px;
        height: 30px;
        position: absolute;
        top: -45px;
        right: 20px;
    }
}

.shape-group-right {
    display: none;
    @include respond-to('small') {
        display: block;
    }
    position: absolute;
    bottom: -47px;
    right: 0;
    max-width: 170px;
    .shape-circle-red {}
    .shape-circle-yellow {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 8px;
        bottom: -25px;
    }
    .shape-circle-blue {
        max-width: 180px;
        position: absolute;
        bottom: -40px;
        left: -80px;
    }
    .shape-circle-white {
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: -10px;
        left: 10px;
    }
}

.shape-group-right-ambassadors {
    display: none;
    @include respond-to('small') {
        display: block;
    }
    position: absolute;
    bottom: 250px;
    right: 0;
    max-width: 80px;
    .shape-circle-white {
        max-width: 25px;
        position: absolute;
        right: 0;
        bottom: -10px;
    }
    .shape-circle-blue {
        max-width: 30px;
        position: absolute;
        top: -40px;
        left: 20px;
    }
}

.shape-group-footer {
    max-width: 60px;
    position: absolute;
    z-index: 1;
    top: -100px;
    right: 0;
    @include respond-to('large') {
        max-width: 100px;
        top: -160px;
        right: 0;
    }
    .shape-circle-white,
    .shape-circle-yellow {
        max-width: 30px;
        position: absolute;
        left: 10px;
        bottom: 20px;
        @include respond-to('small') {
            max-width: 60px;
            left: 20px;
        }
    }
    .shape-circle-blue {
        max-width: 18px;
        position: absolute;
        bottom: 90px;
        left: -35px;
    }
}

.shape-big-center {
    position: absolute;
    top: 50px;
    left: -40px;
    max-width: 680px;
    z-index: -1;
}

.shape-red-left {
    display: none;
    @include respond-to('small') {
        display: block;
    }
    position: absolute;
    top:600px;
    left: 0;
    max-width: 80px;
}

.shape-gray-left {
    max-width: 200px;
    @include respond-to('xsmall') {
        max-width: 300px;
    }
    position: absolute;
    top: 15px;
    left: 0;
    z-index: -1;
}

.shape-gray-right {
    max-width: 150px;
    @include respond-to('medium') {
        max-width: 250px;
    }
    position: absolute;
    top: 800px;
    right: 0;
}

.shape-group-blue-right {
    max-width: 80px;
    position: absolute;
    top: 200px;
    right: 0;
    .shape-circle-white {
        position: absolute;
        bottom: 20px;
        right: 15px;
        max-width: 40px;
    }
}

.circle-white,
.circle-red,
.circle-yellow,
.circle-blue {
    border-radius: 50%;
}

.circle-white {
    background-color: #fff;
}

.circle-red {
    background-color: $contrast-color;
}

.circle-blue {
    background-color: $primary-color;
}

.circle-yellow {
    background-color: $secondary-color;
}