.timeline-wrap {
    position: relative;
    overflow-x: auto;
    margin-left: -20px;
    @include respond-to("small") {
        margin-left: 0;
    }
}

.timeline {
    margin: 250px 0 0 0;
    width: max-content;
    height: 300px;
    display: flex;
    padding: 0 50px;
    position: relative;
    flex-direction: row;
    @include respond-to("small") {
        margin: 300px 0 50px 0;
    }
    &::after {
        content: "";
        border: solid $primary-color;
        border-width: 0 3px 3px 0;
        display: block;
        transform: rotate(-45deg);
        position: absolute;
        height: 15px;
        width: 15px;
        top: -6px;
        right: 10px;
        @include respond-to("small") {
            height: 20px;
            width: 20px;
            top: -9px;
            border-width: 0 4px 4px 0;
        }
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 20px;
        width: calc(100% - 10px);
        border-top: 6px solid $primary-color;
    }
    .item {
        position: relative;
        width: 180px;
        @include respond-to('small') {
            width: 330px;
        }
    }
    .content {
        width: 100%;
        height: auto;
        display: block;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
        font-weight: 500;
        color: $primary-color;
        padding: 12px;
        @include fluid-type(320px, 1360px, 12px, 18px);
        @include line-height(320px, 1360px, 18px, 22px);
        @include respond-to('small') {
            padding: 30px;
        }
    }
    .line {
        width: 4px;
        height: 60px;
        position: absolute;
        background: $contrast-color;
        left: 50%;
        margin-left: -2px;
        top: 5px;
        &::before {
            content: '';
            width: 14px;
            height: 14px;
            border-radius: 50%;
            position: absolute;
            background: $contrast-color;
            top: -10px;
            left: -5px;
        }
        &::after {
            content: '';
            width: 14px;
            height: 14px;
            border-radius: 50%;
            position: absolute;
            background: $contrast-color;
            bottom: -10px;
            left: -5px;
        }
    }
    .date {
        text-align: center;
        font-weight: 600;
        @include fluid-type(320px, 1360px, 16px, 24px);
    }
    .item:nth-child(odd) {
        .content {
            top: 65px;
            border: 4px solid $contrast-color;
        }
        .date {
            margin-top: -33px;
            color: $contrast-color;
        }
    }
    .item:nth-child(even) {
        height: 0;
        .content {
            border: 4px solid $secondary-color;
            position: absolute;
            bottom: 0;
            margin-bottom: 62px;
        }
        .date {
            margin-top: 13px;
            color: $secondary-color;
        }
        .line {
            top: -60px;
            background: $secondary-color;
            &::before {
                background: $secondary-color;
            }
            &::after {
                background: $secondary-color;
            }
        }
    }
    .item {
        &:not(:first-child) {
            margin-left: -70px;
        }
        @include respond-to('small') {
            &:nth-of-type(2) {
                margin-left: -170px;
            }
            &:nth-of-type(3) {
                margin-left: -100px;
            }
            &:nth-of-type(4) {
                margin-left: -100px;
            }
            &:nth-of-type(5) {
                margin-left: -100px;
            }
            &:nth-of-type(6) {
                margin-left: -100px;
            }
            &:nth-of-type(7) {
                margin-left: -180px;
            }
            &:nth-of-type(8) {
                margin-left: -120px;
            }
            &:nth-of-type(9) {
                margin-left: -100px;
            }
            &:nth-of-type(9) {
                margin-left: -100px;
            }
            &:nth-of-type(9) {
                margin-left: -100px;
            }
        }
    }
}