// ANIMATIONS SHAPES
.floating {
    animation-name: floating;
    -webkit-animation-name: floating;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation-duration: 4s;
}

@keyframes floating {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(5%, 15%);
    }
    50% {
        transform: translate(10%, 5%);
    }
    75% {
        transform: translate(0%, 15%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translate(0%, 0%);
    }
    25% {
        -webkit-transform: translate(5%, 15%);
    }
    50% {
        -webkit-transform: translate(10%, 5%);
    }
    75% {
        -webkit-transform: translate(0%, 15%);
    }
    100% {
        -webkit-transform: translate(0%, 0%);
    }
}

.float {
    animation: float 25s linear infinite;
    animation-delay: 0s;
    animation-duration: 25s;
}

@keyframes float {
    0% {
        transform: translateY(0) translateX(0) translateZ(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-60px) translateX(-70px) translateZ(-50px) rotate(360deg);
    }
    100% {
        transform: translateY(60px) translateX(20px) translateZ(30px) rotate(720deg);
    }
}

.orbit {
    animation: orbit2 25s linear infinite;
    animation-delay: 0s;
    animation-duration: 25s;
    transform-origin: 50% 50px;
}

@-webkit-keyframes orbit2 {
    from {
        -webkit-transform: rotate(0deg) translateX(150px) translateY(50px);
    }
    to {
        -webkit-transform: rotate(360deg) translateX(150px) translateY(50px);
    }
}

@-moz-keyframes orbit2 {
    from {
        -moz-transform: rotate(0deg) translateX(150px) translateY(50px);
    }
    to {
        -moz-transform: rotate(360deg) translateX(150px) translateY(50px);
    }
}

@keyframes orbit2 {
    from {
        transform: rotate(0deg) translateX(150px) translateY(50px);
    }
    to {
        transform: rotate(360deg) translateX(150px) translateY(50px);
    }
}

.bobble--animation {
    animation: bobble 25s linear infinite;
    animation-delay: 0s;
    animation-duration: 25s;
}

@keyframes bobble {
    0% {
        transform: scale(1) rotate(0deg) translate3d(50px, 40px, 0px);
    }
    20% {
        transform: scale(1.1) rotate(100deg);
    }
    50% {
        transform: scale(1.2) translate3d(-50px, -40px, 0px);
    }
    70% {
        transform: scale(1.1) rotate(200deg);
    }
    100% {
        transform: scale(1) rotate(360deg) translate3d(50px, 40px, 0px);
    }
}

// fun park
@-webkit-keyframes clockwise {
    0% {
        -webkit-transform: rotate(0deg) translate(-100px) rotate(0deg);
        transform: rotate(0deg) translate(-100px) rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg) translate(-100px) rotate(-360deg);
        transform: rotate(360deg) translate(-100px) rotate(-360deg);
    }
}

@keyframes clockwise {
    0% {
        -webkit-transform: rotate(0deg) translate(-100px) rotate(0deg);
        transform: rotate(0deg) translate(-100px) rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg) translate(-100px) rotate(-360deg);
        transform: rotate(360deg) translate(-100px) rotate(-360deg);
    }
}

@-webkit-keyframes anti-clockwise {
    0% {
        -webkit-transform: rotate(0deg) translate(100px) rotate(0deg);
        transform: rotate(0deg) translate(100px) rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg) translate(100px) rotate(360deg);
        transform: rotate(-360deg) translate(100px) rotate(360deg);
    }
}

@keyframes anti-clockwise {
    0% {
        -webkit-transform: rotate(0deg) translate(100px) rotate(0deg);
        transform: rotate(0deg) translate(100px) rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg) translate(100px) rotate(360deg);
        transform: rotate(-360deg) translate(100px) rotate(360deg);
    }
}

@-webkit-keyframes anti-clockwise-small {
    0% {
        -webkit-transform: rotate(0deg) translate(40px) rotate(0deg);
        transform: rotate(0deg) translate(40px) rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg) translate(40px) rotate(360deg);
        transform: rotate(-360deg) translate(40px) rotate(360deg);
    }
}

@keyframes anti-clockwise-small {
    0% {
        -webkit-transform: rotate(0deg) translate(40px) rotate(0deg);
        transform: rotate(0deg) translate(40px) rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg) translate(40px) rotate(360deg);
        transform: rotate(-360deg) translate(40px) rotate(360deg);
    }
}

@-webkit-keyframes rotating {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes rotating {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes rotating-diagonal {
    0% {
        -webkit-transform: rotate(0deg) translate(70px) scale(1) rotate(0deg);
        transform: rotate(0deg) translate(70px) scale(1) rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(50deg) translate(-50px) scale(0.5) rotate(100deg);
        transform: rotate(50deg) translate(-50px) scale(0.5) rotate(100deg);
    }
    100% {
        -webkit-transform: rotate(360deg) translate(50px) scale(1) rotate(-360deg);
        transform: rotate(360deg) translate(50px) scale(1) rotate(-360deg);
    }
}

@keyframes rotating-diagonal {
    0% {
        -webkit-transform: rotate(0deg) translate(50px) scale(1) rotate(0deg);
        transform: rotate(0deg) translate(50px) scale(1) rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(50deg) translate(-50px) scale(0.5) rotate(120deg);
        transform: rotate(50deg) translate(-50px) scale(0.5) rotate(120deg);
    }
    100% {
        -webkit-transform: rotate(360deg) translate(50px) scale(1) rotate(-360deg);
        transform: rotate(360deg) translate(50px) scale(1) rotate(-360deg);
    }
}

.animation--clockwise {
    -webkit-animation: clockwise 30s linear infinite normal;
    animation: clockwise 30s linear infinite normal;
}

.animation--anti-clockwise {
    -webkit-animation: anti-clockwise 30s linear infinite normal;
    animation: anti-clockwise 30s linear infinite normal;
}

.animation--anti-clockwise2 {
    -webkit-animation: anti-clockwise-small 30s linear infinite normal;
    animation: anti-clockwise-small 30s linear infinite normal;
}

.animation--rotating {
    -webkit-animation: rotating 15s linear infinite normal;
    animation: rotating 15s linear infinite normal;
}

.animation--rotating-diagonal {
    -webkit-animation: rotating-diagonal 15s linear infinite alternate;
    animation: rotating-diagonal 15s linear infinite alternate;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// people icon animation crossfade
@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.animation--fade {
    -webkit-animation: fade 5s ease-in-out infinite alternate;
    animation: fade 5s ease-in-out infinite alternate;
}

// heart animation
@keyframes pulse {
    10% {
        transform: scale(1.1)
    }
}

.pulse {
    animation: pulse 1.3s infinite;
}

.pulse1 {
    animation: animateHeart 1.8s infinite;
}

@keyframes animateHeart {
    0% {
        transform: scale(0.8);
    }
    5% {
        transform: scale(0.9);
    }
    10% {
        transform: scale(0.8);
    }
    15% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(0.8);
    }
}

// aos
[aos="fade_up_left"] {
    transform: translate3d(100px, 100px, 0);
    opacity: 0;
    transition-property: transform, opacity;
    &.aos-animate {
        opacity: 1;
        transform: translateX(0);
    }
}

[data-aos="fade_down"] {
    transform: translateY(-15px);
    opacity: 0;
    transition-property: transform, opacity;
    &.aos-animate {
        transform: translateZ(0) scale(1);
        opacity: 1;
    }
}

[data-aos="rotate"] {
    transform: rotate(360deg);
    opacity: 0;
    transition-property: transform, opacity;
    &.aos-animate {
        transform: rotate(0);
        opacity: 1;
    }
}

[data-aos=fade-up-left] {
    transform: translate3d(100px, 100px, 0)
}

[data-aos=fade-down-right] {
    transform: translate3d(-100px, -100px, 0)
}

[data-aos=fade-down-left] {
    transform: translate3d(100px, -100px, 0)
}

[data-aos^=zoom][data-aos^=zoom] {
    opacity: 0;
    transition-property: opacity, transform
}

[data-aos^=zoom][data-aos^=zoom].aos-animate {
    opacity: 1;
    transform: translateZ(0) scale(1)
}