/*----------  Helper classes  ----------*/

// Arrow 
.arrow {
    border: solid $contrast-color;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    @include respond-to("small") {
        padding: 5px;
    }
    &--right {
        transform: rotate(-45deg);
    }
    &--left {
        transform: rotate(135deg);
    }
    &--up {
        transform: rotate(-135deg);
    }
    &--down {
        transform: rotate(45deg);
    }
}

.height-100 {
    height: 100%;
}

.background-yellow {
    background-color: $secondary-color;
}

.background-blue {
    background-color: $primary-color;
}

.is-flex {
    display: flex;
}

.unstyle-list {
    padding: 0;
    margin: 0;
    li {
        padding: 0;
        margin: 0;
    }
}

.is-relative {
    position: relative;
}

.disable-scroll {
    overflow: hidden;
    @include respond-to('medium') {
        overflow: initial;
    }
}

.hide {
    display: none;
}