/* ============ MIXINS ============= */

.unstyle-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding: 0;
        margin: 0;
        &:before {
            display: none;
        }
    }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

.cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.marginb-0 {
    margin-bottom: 0!important;
}

@mixin border-bottom-animation() {
    transition: all .25s linear;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $main-color;
        visibility: hidden;
        transition: .25s linear;
        transform: scaleX(0);
    }
    &.active,
    &.is-checked {
        &:before {
            visibility: visible;
            transform: scaleX(1);
        }
    }
}

@mixin image-cover() {
    position: relative;
    overflow: hidden;
    img {
        position: absolute;
        top: 50%;
        bottom: 50%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
    }
}

@mixin hover-green() {
    color: $main-color;
    transition: all .3s ease-in-out;
}

@mixin cover() {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-center {
    text-align: center;
}

@mixin shadow() {
    box-shadow: 0 2px 4px 0 rgba(188, 190, 192, 0.40);
}

// Push auto
@mixin push--auto {
    margin: {
        left: auto;
        right: auto;
    }
}

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);
    @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
        & {
            font-size: $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }
            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}

@mixin line-height($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);
    @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
        & {
            line-height: $min-font-size;
            @media screen and (min-width: $min-vw) {
                line-height: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }
            @media screen and (min-width: $max-vw) {
                line-height: $max-font-size;
            }
        }
    }
}

$breakpoints: ( 'xsmall': (min-width: 576px), 'small': (min-width: 700px), 'medium': (min-width: 990px), 'large': (min-width: 1200px), 'xlarge': (min-width: 1366px));
@mixin respond-to($breakpoint) {
    $raw-query: map-get($breakpoints, $breakpoint);
    @if $raw-query {
        $query: if(type-of($raw-query)=='string', unquote($raw-query), inspect($raw-query));
        @media #{$query} {
            @content;
        }
    }
    @else {
        @error 'No value found for `#{$breakpoint}`. '+'Please make sure it is defined in `$breakpoints` map.';
    }
}

@mixin image-zoom() {
    background-size: 110%;
}

@mixin placeholder($color) {
    &::-webkit-input-placeholder {
        /* WebKit browsers */
        color: $color;
    }
    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $color;
        opacity: 1;
    }
    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: $color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: $color;
    }
    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $color;
    }
    &::placeholder {
        color: $color;
        opacity: 1;
        /* Firefox */
    }
}

@mixin overlay-center-value($lineHeight) {
    &::after {
        line-height: calc(#{$lineHeight} + 2px);
    }
}


/* ============ END MIXINS ============= */