@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;1,600&display=swap');
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 12px 0;
    color: $font-color;
}

h1 {
    @include fluid-type(320px,
    1360px,
    28px,
    36px);
    @include line-height(320px,
    1360px,
    32px,
    40px);
}

h2 {
    @include fluid-type(320px,
    1360px,
    28px,
    36px);
    @include line-height(320px,
    1360px,
    32px,
    40px);
}

h3 {
    @include fluid-type(320px,
    1360px,
    22px,
    28px);
    @include line-height(320px,
    1360px,
    26px,
    32px);
}

h4 {
    @include fluid-type(320px,
    1360px,
    20px,
    24px);
    @include line-height(320px,
    1360px,
    24px,
    28px);
}

h5 {
    @include fluid-type(320px,
    1360px,
    18px,
    20px);
    @include line-height(320px,
    1360px,
    22px,
    24px);
}

h6 {
    @include fluid-type(320px,
    1360px,
    16px,
    18px);
    @include line-height(320px,
    1360px,
    22px,
    24px);
}

p {
    @include fluid-type(320px,
    1360px,
    14px,
    16px);
    @include line-height(320px,
    1360px,
    21px,
    24px);
    margin: 0 0 12px 0;
    font-weight: 400;
    &:last-child {
        margin-bottom: 0;
    }
}

li,
p {
    color: $font-color;
}

ul,
li {
    margin: 0;
    padding: 0;
}

ul li {
    @include fluid-type(320px,
    1360px,
    14px,
    18px);
    @include line-height(320px,
    1360px,
    21px,
    28px);
    list-style: none;
    position: relative;
    padding-left: 20px;
    line-height: 22px;
    margin-bottom: 2rem;
}

// -----------------------------TABLE
table {
    border-collapse: collapse;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

td,
th {
    padding: 12px 20px 12px 0;
    @include respond-to('small') {
        padding: 16px 30px 16px 0;
    }
    &:first-of-type {
        max-width: 360px;
    }
    &:last-of-type {
        padding-right: 0;
    }
}

td {
    @include fluid-type(320px,
    1360px,
    14px,
    16px);
    @include line-height(320px,
    1360px,
    19px,
    22px);
    border-bottom: 1px solid rgba(45, 52, 124, 0.2);
}

th {
    @include fluid-type(320px,
    1360px,
    14px,
    18px);
    font-weight: 700;
    text-align: left;
    border-bottom: 2px solid $primary-color;
}

// .wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
//     background-color: grey;
// }
ol {
    padding: 0;
    margin: 0;
    counter-reset: section;
    >li {
        margin-bottom: 20px;
        list-style: none;
        position: relative;
        padding-left: 30px;
        color: $primary-color-80;
        @include fluid-type(320px,
        1360px,
        14px,
        16px);
        @include line-height(320px,
        1360px,
        21px,
        24px);
        &:before {
            counter-increment: section;
            content: counter(section) ".";
            @include fluid-type(320px,
            1360px,
            14px,
            16px);
            font-weight: 600;
            position: absolute;
            top: 0;
            left: 1px;
        }
        strong {
            @include fluid-type(320px,
            1360px,
            14px,
            18px);
            margin-bottom: 12px;
            display: inline-block;
        }
    }
}

a {
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    text-decoration: none;
    transition: color 0.2s ease;
    &:hover,
    &:link,
    &:visited {
        text-decoration: none;
    }
}

hr {
    border: none;
    border-top: 1px solid $border-color;
    margin: 10px 0;
    width: 2rem;
    margin-left: auto;
    margin-right: auto;
}


/* ======== TABLET ======= */

@media only screen and (min-width: 768px) {
    ol {
        li {
            h6 {
                padding-left: 20px;
                margin-bottom: 2rem;
            }
        }
    }
    u,
    .underline {
        &:before {
            height: 3px;
        }
    }
}

blockquote.wp-block-quote {
    margin: 3rem 0 0 0;
    padding: 3.5rem 0 3rem;
    position: relative;
    p {
        margin-bottom: 0;
        @include fluid-type(320px,
        1450px,
        20px,
        24px);
        @include line-height(320px,
        1450px,
        28px,
        32px);
        font-family: 'Baskervville', serif;
        font-style: normal;
        &:before {
            // font-family: 'Baskervville', serif;
            // color: grey;
            // content: '\201C';
            // @include fluid-type(320px,
            // 1450px,
            // 40px,
            // 60px);
            // @include line-height(320px,
            // 1450px,
            // 40px,
            // 50px);
            // vertical-align: -0.4em;
            // position: absolute;
            // top: 0;
            // left: 0;
        }
    }
    cite {
        @include fluid-type(320px,
        1450px,
        14px,
        18px);
        color: grey;
        position: relative;
        padding-top: 25px;
        display: inline-block;
        font-family: 'Baskervville', serif;
        &:before {
            content: "";
            display: inline-block;
            width: 25px;
            height: 1px;
            background-color: grey;
            position: absolute;
            top: 10px;
            left: 0;
        }
    }
}

blockquote blockquote p {
    display: inline;
}

blockquote.wp-block-quote.is-style-large {
    font-family: 'Baskervville', serif;
    padding: 2rem 3rem;
    p {
        color: #a5a5a5;
        text-emphasis-style: none;
        font-style: normal;
        @include fluid-type(320px,
        1450px,
        20px,
        24px);
        @include line-height(320px,
        1450px,
        28px,
        36px);
        &:before {
            display: none;
        }
    }
}

figure.wp-block-image {
    margin-bottom: 2 rem;
}

// --------------- pozicioniranje elemenata - WP
.alignleft {
    /*rtl:ignore*/
    float: left;
    /*rtl:ignore*/
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

.alignright {
    /*rtl:ignore*/
    float: right;
    /*rtl:ignore*/
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
}