// Color variables 
$primary-color: #2d347c;
$primary-color-80: rgba(45, 52, 124, 0.8);
$secondary-color: #FCB72E;
$secondary-color-50: rgba(252, 175, 23, .5);
$contrast-color: #ED1D24;
$font-color: #2d347c;
$font-family: 'Montserrat',
sans-serif;
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
$border-radius-large: 10px;
$border-color: rgba(45, 52, 124, .5);