.error404 {
    main {
        padding: 20px 0 50px 0;
        @include respond-to('small') {
            padding: 30px 0 60px 0;
        }
        form {
            margin-top: 25px;
        }
        .searchform__input {
            width: 250px;
            border: 1px solid rgba(45, 52, 124, 0.5);
        }
        a {
            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
    .site-content {
        @include respond-to('small') {
            min-height: calc(100vh - 500px);
        }
        @include respond-to('medium') {
            min-height: calc(100vh - 640px);
        }
        @include respond-to('large') {
            min-height: calc(100vh - 680px);
        }
    }
}