.about-page {
    position: relative;
    .shape-group {
        left: -25px;
        top: 270px;
        z-index: 999;
        display: none;
        @include respond-to('xlarge') {
            display: block;
        }
    }
}