    // AMBASSADORS PAGE -------------
    .ambassadors {
        position: relative;
        overflow-x: hidden;
        &.layout {
            padding-bottom: 0;
        }
        .cart-contact {
            position: relative;
            z-index: 1;
        }
        .columns {
            justify-content: center;
            @include respond-to('medium') {
                justify-content: flex-start;
            }
        }
        .shape-big-center {
            z-index: 0;
        }
    }
    
    // -----------------------------AMBASSADORS NAV FULL-WIDTH
    .nav-fullwidth {
        padding-top: 10px;
        padding-bottom: 10px;
        .container {
            max-width: 1366px;
            padding-left: 20px;
            padding-right: 20px;
        }
        a,
        .sub-element {
            @include fluid-type(320px, 1360px, 12px, 14px);
            @include line-height(320px, 1360px, 21px, 24px);
            color: #fff;
        }
        a {
            color: rgba(255, 255, 255, 0.8);
            margin-right: 8px;
        }
        .arrow {
            border: solid rgba(255, 255, 255, 0.8);
            border-width: 0 1px 1px 0;
            padding: 3px;
            margin-left: 5px;
            margin-bottom: 1px;
        }
        .sub-element {
            font-weight: 700;
        }
    }
    
    // ----------------------------AMBASSADORS MODAL BOX
    .modal {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: auto;
        background: rgba(45, 52, 124, 0.95);
        transition: opacity 0.5s ease;
        &.open {
            display: block;
            z-index: 9999;
        }
        &__content {
            background-color: #fff;
            margin: 10% auto;
            padding: 15px 25px 25px 25px;
            width: 85%;
            max-width: 1000px;
            position: relative;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            animation: animatetop 700ms ease-in;
            @include respond-to('small') {
                padding: 35px 25px;
            }
            @include respond-to('medium') {
                padding: 35px;
                width: 75%;
            }
        }
        &__body {
            border-bottom: 1px solid rgba(45, 52, 124, 0.2);
            margin-bottom: 30px;
            transition: all 0.3 ease;
            position: relative;
            // opacity: 0;
        }
        &__profile {
            @include respond-to('small') {
                display: flex;
            }
            &-name,
            &-email {
                margin-bottom: 12px;
            }
            &-email,
            &-lang {
                @include fluid-type(320px, 1360px, 16px, 18px);
                @include line-height(320px, 1360px, 22px, 26px);
            }
            &-email {
                margin-bottom: 17px;
                a {
                    display: block;
                    transition: all 0.3s ease;
                    &:hover,
                    &:focus {
                        text-decoration: underline;
                    }
                }
            }
            &-bio p {
                margin-bottom: 12px;
                @include respond-to('small') {
                    margin-bottom: 24px;
                }
            }
            &-lang {
                margin-bottom: 25px;
                @include respond-to('small') {
                    margin-bottom: 35px;
                }
                span {
                    display: block;
                    font-weight: 700;
                    @include respond-to('small') {
                        display: inline-block;
                        margin-left: 5px;
                    }
                }
            }
        }
        &__img {
            margin-bottom: 20px;
            @include respond-to('small') {
                width: 230px;
            }
            img {
                border-radius: 10px;
                width: 100%;
            }
        }
        &__description {
            @include respond-to('small') {
                flex: 1;
                padding-left: 30px;
            }
        }
        &__controls {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-direction: column;
            @include respond-to('small') {
                flex-direction: row;
            }
        }
        .prev,
        .next {
            position: relative;
            cursor: pointer;
            &::after {
                transition: 0.4s;
                transition: right 0.4s, left 0.4s, opacity 0.7s;
                position: absolute;
                top: 11px;
                opacity: 0;
                width: 20px;
                height: 2px;
                background: $contrast-color;
                content: ' ';
                @include respond-to('small') {
                    top: 10px;
                }
            }
            .arrow {
                transition: 0.4s;
            }
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }
        .prev {
            padding-left: 20px;
            margin-bottom: 40px;
            @include respond-to('small') {
                padding-left: 36px;
                margin-bottom: 0;
            }
            &::after {
                left: 20px;
            }
            &:hover {
                .arrow--left {
                    left: -5px;
                }
                &::after {
                    left: -5px;
                }
            }
        }
        .next {
            padding-right: 20px;
            margin-left: auto;
            @include respond-to('small') {
                padding-right: 36px;
            }
            &::after {
                right: 20px;
            }
            &:hover {
                .arrow--right {
                    right: -5px;
                }
                &::after {
                    right: -5px;
                }
            }
        }
        .arrow--left,
        .arrow--right {
            position: absolute;
            top: 8px;
            border: solid $contrast-color;
            border-width: 0 2px 2px 0;
            @include respond-to('small') {
                top: 5px;
            }
        }
        .arrow--left {
            left: 0;
        }
        .arrow--right {
            right: 0;
        }
        .prev__name,
        .next__name {
            color: $contrast-color;
        }
        .next__name {
            text-align: right;
        }
        .prev__lang,
        .next__lang {
            @include fluid-type(320px, 1360px, 12px, 14px);
            @include line-height(320px, 1360px, 18px, 24px);
            span {
                font-weight: 700;
                margin-left: 5px;
            }
        }
        &__close {
            margin-left: auto;
            margin-bottom: 10px;
            width: 20px;
            height: 20px;
            position: relative;
            transition: all 0.3s ease;
            &::after,
            &::before {
                content: ' ';
                position: absolute;
                top: 0;
                left: 10px;
                height: 20px;
                width: 1px;
                background-color: $primary-color;
            }
            &::after {
                transform: rotate(45deg);
            }
            &::before {
                transform: rotate(-45deg);
            }
            &:hover,
            &:focus {
                cursor: pointer;
                &::after,
                &::before {
                    background-color: $secondary-color;
                }
            }
            @include respond-to('small') {
                position: absolute;
                top: 12px;
                right: 15px;
                &::after,
                &::before {
                    height: 27px;
                }
            }
        }
    }
    
    @keyframes animatetop {
        from {
            top: -30px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }