/*----------  Contact page ----------*/

.contact {
    position: relative;
    .shape-group {
        top: 363px;
        left: -30px;
        display: none;
        @include respond-to('large') {
            display: block;
        }
    }
    .shape-group-right {
        z-index: 1;
        bottom: unset;
        top: 500px;
        display: none;
        @include respond-to('medium') {
            display: block;
        }
    }
    &__inner {
        padding-top: 30px;
        padding-bottom: 30px;
        @include respond-to('small') {
            padding-bottom: 40px;
        }
        p {
            @include fluid-type(320px, 1360px, 16px, 18px);
            @include line-height(320px, 1360px, 24px, 26px);
        }
    }
    &--font-white {
        * {
            color: #fff;
        }
        p {
            color: rgba(255, 255, 255, 0.8);
            margin-bottom: 30px;
            @include respond-to('small') {
                margin-bottom: 45px;
            }
        }
        h5 {
            font-weight: 500;
            margin-bottom: 5px;
        }
        @include respond-to('small') {
            padding-top: 45px;
        }
        @include respond-to('medium') {
            padding-top: 65px;
            max-width: 480px;
        }
    }
    .contact__ambassadors {
        h3 {
            @include respond-to('small') {
                margin-bottom: 24px;
            }
        }
        @include respond-to('small') {
            padding-top: 100px;
            min-height: calc(100vh - 70px);
        }
        @include respond-to('medium') {
            padding-top: 135px;
            max-width: 460px;
            margin: 0 auto;
            min-height: calc(100vh - 124px);
        }
        @include respond-to('large') {
            min-height: calc(100vh - 137px);
            margin-left: 70px;
        }
        p {
            @include respond-to('small') {
                margin-bottom: 24px;
            }
            strong {
                display: block;
            }
        }
        .consultation {
            margin: 30px 0;
            @include respond-to('small') {
                margin: 40px 0;
            }
        }
    }
    .background-blue,
    .background-yellow {
        margin-left: -10px;
        margin-right: -10px;
        padding-left: 20px;
        padding-right: 20px;
        @include respond-to('small') {}
    }
    .background-blue {
        @include respond-to('small') {
            margin-right: 0;
            margin-left: 0;
            position: relative;
            &::before {
                content: "";
                background-color: $primary-color;
                width: 5001px;
                height: 100%;
                position: absolute;
                z-index: -1;
                top: 0;
                bottom: 0;
                left: -5000px;
            }
        }
    }
    .background-yellow {
        @include respond-to('small') {
            padding-right: 0;
            position: relative;
            &::before {
                content: "";
                background-color: $secondary-color;
                width: 5001px;
                height: 100%;
                position: absolute;
                z-index: -1;
                top: 0;
                bottom: 0;
                right: -5000px;
            }
        }
    }
    .container {
        @include respond-to('small') {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.page-template-contact-template {
    .footer {
        display: none;
    }
}