/*----------  Home page  ----------*/

// Hero section
.hero {
    background-color: $secondary-color;
    margin-top: 80px;
    @include respond-to('small') {
        background-color: $primary-color;
        margin-top: 0;
        padding-top: 60px;
    }
    @include respond-to('medium') {
        padding-top: 130px;
    }
    @include respond-to('large') {
        padding-top: 200px;
        min-height: 720px;
    }
    &__content {
        margin-top: -80px;
        background-color: $primary-color;
        @include respond-to('small') {
            margin-top: initial;
            background-color: transparent;
        }
    }
    &__content-inner {
        position: relative;
        z-index: 1;
        max-width: 470px;
        h1,
        p {
            color: #fff;
        }
        h1 {
            margin-bottom: 8px;
        }
        h6 {
            color: $secondary-color;
            text-transform: uppercase;
            font-weight: 400;
            margin-bottom: 20px;
            @include fluid-type(320px, 1360px, 14px, 16px);
            @include respond-to('medium') {
                margin-bottom: 24px;
            }
        }
        p {
            @include fluid-type(320px, 1360px, 16px, 18px);
            @include line-height(320px, 1360px, 24px, 26px);
            font-weight: 300;
        }
    }
    &__img {
        margin-top: -80px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: transparent;
        @include respond-to('small') {
            margin-top: initial;
            
        }
    }
    &__img-inner {
        z-index: 2;
        position: relative;
        @include respond-to('medium') {
            left: 30px;
        }
        @include respond-to('large') {
            width: 100%;
            position: absolute;
        }
        @include respond-to('xlarge') {
            left: 60px;
        }
    }
    &--curve-mobile {
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        padding-bottom: 120px;
        margin-right: -10px;
        margin-left: -10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 60px;
        @include respond-to('small') {
            clip-path: none;
            margin-right: initial;
            margin-left: initial;
        }
        @include respond-to('large') {
            padding-top: 40px;
        }
    }
    &--curve-tablet {
        position: relative;
        @include respond-to('small') {
            &:before {
                content: "";
                display: inline-block;
                height: 100%;
                width: 57vw;
                right: 0;
                top: 0;
                bottom: 0;
                position: absolute;
                background-color: $secondary-color;
                clip-path: polygon(270px 0, 100% 0%, 100% 100%, 0% 100%);
            }
        }
        @include respond-to('medium') {
            &:before {
                width: 50vw;
                clip-path: polygon(380px 0, 100% 0%, 100% 100%, 0% 100%);
            }
        }
        @include respond-to('xlarge') {
            &:before {
                clip-path: polygon(420px 0, 100% 0%, 100% 100%, 0% 100%);
            }
        }
    }
    h1 {
        @include fluid-type(320px, 1360px, 32px, 36px);
    }
    .columns {
        position: relative;
        z-index: 1;
    }
    .btn-group {
        margin-top: 30px;
        @include respond-to('medium') {
            margin-top: 65px;
        }
    }
}

// Float section 
.float-section {
    position: relative;
    // z-index: 1;
    @include respond-to('medium') {
        &.section {
            padding-top: 0px;
            padding-bottom: 0px;
        }
        &~section {
            margin-top: 30px;
        }
    }
    &--white-font {
        * {
            color: #fff;
        }
        h2 {
            letter-spacing: .8px;
        }
    }
    &--move-box {
        @include respond-to('medium') {
            div.columns {
                &:first-of-type {
                    .column {
                        padding-top: 0;
                        margin-top: -30px;
                    }
                }
                &:last-of-type {
                    .column {
                        padding-bottom: 0;
                        margin-bottom: -30px;
                    }
                }
            }
        }
    }
    .shape-group {
        .shape-circle-blue {
            display: none;
        }
    }
    .shape-big-center {
        left: 200px;
        z-index: 0;
    }
}

// End float section 
// News section 
.news-section {
    position: relative;
    @include respond-to('medium') {
        &--remove-padding {
            .column {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
    &__2rows {
        display: flex;
        flex-direction: column;
        @include respond-to('medium') {
            border-left: 1px solid $border-color;
            .cart-news__img {
                height: 100%;
                padding-bottom: initial;
            }
        }
        .cart-news {
            height: 50%;
            margin-bottom: 0;
            padding-bottom: 0;
            border: 0;
        }
        hr {
            width: 100%;
            border-color: $border-color;
            margin: 30px 0;
        }
    }
}

// End news section