 
/* ==================== RESPONSIVE MOBILE FIRST ================== */
// $tablet: 768px;
// $laptop: 990px;
// $desktop: 1440px;
// $xdesktop: 1600px;
body {
   background-color: red!important;
}

/* ======== TABLET ======= */
@media only screen and (min-width: $tablet) {
  

}


/* ======== LAPTOP ======= */
@media only screen and (min-width: $laptop) {

}

/* ======== DESKTOP ======= */
@media only screen and (min-width: $desktop) {
 
}

/* ======== DESKTOP ======= */
@media only screen and (min-width: $xdesktop) {

}