.news-page {
    position: relative;
    .shape-group {
        top: 800px;
        top: 70%;
        left: -25px;
    }
    .shape-big-center {
        top: -10px;
        left: 50px;
        z-index: 0;
    }
    &__content {
        background-color: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        padding: 30px 20px;
        position: relative;
        overflow: hidden;
        @include respond-to('small') {
            padding: 40px;
        }
        @include respond-to('medium') {
            padding: 40px 80px;
        }
        @include respond-to('large') {
            padding: 110px 150px 100px 150px;
        }
    }
    .next-news {
        &__wrap {
            background-color: #fff;
            .layout__inner {
                padding-top: 40px;
                padding-bottom: 40px;
                @include respond-to('medium') {
                    padding-top: 80px;
                    padding-bottom: 80px;
                }
            }
        }
        &__content {
            .cart-news {
                display: block;
                margin-bottom: 25px;
                @include respond-to('small') {
                    margin-bottom: 0;
                }
                &__img {
                    padding-bottom: 56.24%;
                    margin-right: 0;
                    width: 100%;
                    margin-bottom: 5px;
                    @include respond-to('xsmall') {
                        margin-bottom: 10px;
                    }
                    @include respond-to('medium') {
                        margin-bottom: 15px;
                    }
                }
                &__content {
                    width: 100%;
                }
            }
        }
    }
    // ---------------page with hero img
    .with-heroimg {
        padding-top: 60%;
        .hero-img {
            position: absolute;
            top: -2px;
            left: 0;
            right: 0;
            height: 0;
            padding-bottom: 56.25%;
            background-size: cover;
        }
    }
}