.search {
    main {
        padding: 20px 0 50px 0;
        @include respond-to('small') {
            padding: 30px 0 60px 0;
        }
        article {
            padding-bottom: 24px;
            margin-bottom: 24px;
            border-bottom: 1px solid rgba(45, 52, 124, .2);
            &:last-of-type {
                padding: 0;
                border: none;
            }
        }
        .posts-navigation {
            padding-top: 24px;
            border-top: 1px solid rgba(45, 52, 124, .2);
        }
        .entry-header,
        .entry-summary {
            margin-bottom: 15px;
        }
        .entry-title {
            @include fluid-type(320px, 1360px, 19px, 23px);
            @include line-height(320px, 1360px, 23px, 27px);
            a {
                &:hover {
                    text-decoration: none;
                    opacity: 0.9;
                }
            }
        }
        form {
            margin-top: 20px;
        }
        .searchform__input {
            width: 250px;
            border: 1px solid rgba(45, 52, 124, 0.5);
        }
        a {
            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
    .site-content {
        @include respond-to('small') {
            min-height: calc(100vh - 500px);
        }
        @include respond-to('medium') {
            min-height: calc(100vh - 640px);
        }
        @include respond-to('large') {
            min-height: calc(100vh - 680px);
        }
    }
}