.layout__main,
.layout__inner {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        margin: 0 0 15px 0;
        @include respond-to('medium') {
            margin-bottom: 30px;
        }
        a {
            text-decoration: underline;
            display: inline-block;
            &:hover,
            &:focus {
                color: $secondary-color;
            }
        }
    }
    p {
        color: $primary-color-80;
        a {
            display: inline-block;
            color: $primary-color;
            font-weight: 500;
            text-decoration: underline;
            &:hover,
            &:focus {
                color: $secondary-color;
            }
        }
    }
    img {
        height: auto;
    }
    blockquote {
        margin: 0 0 15px 0;
        padding: 50px 20px 20px 20px;
        border: 2px solid $contrast-color;
        border-radius: 10px;
        font-weight: 600;
        font-style: italic;
        position: relative;
        @include fluid-type(320px, 1360px, 14px, 16px);
        @include line-height(320px, 1360px, 21px, 28px);
        @include respond-to('small') {
            padding: 30px 30px 30px 80px;
        }
        @include respond-to('medium') {
            margin: 0 0 30px 0;
        }
        &::before {
            content: '';
            background-image: url(img/quotemark-left.png);
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            top: 15px;
            left: 20px;
            width: 33px;
            height: 24px;
            @include respond-to('small') {
                top: 30px;
                left: 30px;
            }
        }
        p {
            margin-bottom: 0;
            color: $primary-color;
        }
        a {
            text-decoration: underline;
            &:hover,
            &:focus {
                color: $secondary-color;
            }
        }
    }
    ul {
        li {
            color: $primary-color-80;
            margin-bottom: 15px;
            padding-left: 20px;
            @include fluid-type(320px, 1360px, 14px, 16px);
            @include line-height(320px, 1360px, 21px, 24px);
            @include respond-to('small') {
                margin-bottom: 20px;
                padding-left: 30px;
            }
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 8px;
                left: 0;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: $primary-color;
                @include respond-to('small') {
                    width: 10px;
                    height: 10px;
                }
            }
            a {
                text-decoration: underline;
                color: $primary-color;
                font-weight: 500;
                &:hover,
                &:focus {
                    color: $secondary-color;
                }
            }
        }
    }
    >a {
        text-decoration: underline;
        &:hover,
        &:focus {
            color: $secondary-color;
        }
    }
    // -------------------------------DOWNLOAD FILE
    .download-file {
        display: block;
        position: relative;
        padding-left: 40px;
        color: $primary-color;
        text-decoration: underline;
        font-weight: 600;
        margin-bottom: 15px;
        transition: all 0.3s ease;
        @include respond-to('small') {
            margin-bottom: 32px;
        }
        &::before {
            content: "";
            background-image: url(img/file-text.png);
            background-size: contain;
            position: absolute;
            top: -3px;
            left: 0;
            width: 24px;
            height: 24px;
            transition: all 0.5s ease-in-out;
        }
        &:hover,
        &:focus {
            color: $primary-color;
            opacity: .9;
            &::before {
                left: 5px;
                transition: all .5s ease-in-out;
            }
        }
    }
    // -------------------------video
    .video-wrap {
        display: flex;
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        border-radius: 10px;
        padding-bottom: 56.25%;
        /* 16:9 */
        height: 0;
        @include respond-to('medium') {
            margin-bottom: 30px;
        }
        .video-poster {
            width: 100%;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(0deg, rgba(45, 52, 124, 0.8), rgba(45, 52, 124, 0.8));
            }
        }
        .video-icon {
            max-width: 50px;
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    // ---------figure
    figure {
        margin: 0 0 20px 0;
        @include respond-to('medium') {
            margin: 0 0 20px 0;
        }
        img {
            margin-bottom: 5px;
        }
    }
    .video-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        height: 0;
        margin-bottom: 20px;
        @include respond-to('medium') {
            margin-bottom: 30px;
        }
        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}