/*----------  Footer  ----------*/

.footer {
    position: relative;
    @include respond-to('small') {
        background-color: $primary-color;
    }
    &--right-background {
        display: none;
        @include respond-to('small') {
            display: block;
            position: absolute;
            top: -1px;
            bottom: 0;
            width: 100%;
            right: -90%;
            background: $secondary-color;
        }
    }
    &.footer--white {
        h5,
        p {
            color: $primary-color;
        }
        .btn--white {
            background-color: $contrast-color;
            color: #fff;
        }
        .footer__contact,
        .footer--right-background {
            background-color: #fff;
        }
    }
    *:not(.btn) {
        color: #fff;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        background-color: $primary-color;
        order: 2;
        flex-direction: column-reverse;
        display: flex;
        li {
            a {
                @include fluid-type(320px, 1360px, 14px, 16px);
                font-weight: 400;
                display: inline-block;
                padding: 7px 0;
            }
            &:last-of-type a {
                padding-bottom: 0;
            }
            img {
                vertical-align: middle;
                margin: 0 8px 2px 0;
            }
        }
        @include respond-to('small') {
            flex-direction: row;
        }
    }
    &__contact,
    &__content {
        padding-top: 40px;
        padding-bottom: 40px;
        @include respond-to('medium') {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column-reverse;
        @include respond-to('small') {
            width: 40%;
        }
        @include respond-to('medium') {
            width: 50%;
            flex-direction: column;
        }
        a {
            transition: color 0.2s ease-in-out;
            &:hover,
            &:focus {
                color: $secondary-color;
            }
        }
    }
    &__contact {
        background-color: $secondary-color;
        order: 1;
        margin-right: -20px;
        margin-left: -20px;
        margin-top: -1px;
        padding-bottom: 60px;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        @include respond-to('small') {
            clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0% 100%);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            width: 60%;
            padding-left: 100px;
            padding-bottom: 40px;
        }
        @include respond-to('medium') {
            width: 50%;
            clip-path: polygon(55% 0, 100% 0%, 100% 100%, 0% 100%);
            padding-bottom: 80px;
        }
        @include respond-to('xlarge') {
            // margin-top: -2px;
        }
        h5 {
            margin-bottom: 5px;
        }
        .btn {
            margin-top: 10px;
            @include respond-to('medium') {
                margin-top: 40px;
            }
        }
        .icon-medium {
            @include respond-to('medium') {
                margin-bottom: 20px;
            }
        }
    }
    &__contact-inner {
        max-width: 320px;
    }
    &__2col {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include respond-to('medium') {
            width: 87%;
        }
        &:nth-of-type(1) {
            align-items: flex-end;
            @include respond-to('medium') {
                margin-bottom: 30px;
                padding-bottom: 30px;
                border-bottom: 1px solid rgba(255, 255, 255, .3);
            }
        }
        &:nth-of-type(2) {
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid rgba(255, 255, 255, .3);
            @include respond-to('medium') {
                margin-bottom: 0;
                margin-top: 0;
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
        >.col {
            width: 47%;
            @include respond-to('medium') {
                width: auto;
                width: 150px;
            }
        }
    }
    &__logo {
        width: 110px;
        margin-bottom: 5px;
        @include respond-to('medium') {
            margin-bottom: 10px;
        }
        img {
            width: 100%;
        }
    }
    &.--background {
        display: none;
    }
    .copyright {
        font-size: 10px;
        @include respond-to('medium') {
            font-size: 12px;
        }
    }
}