/*----------  Global layouts  ----------*/

img {
    max-width: 100%;
}

#page {
    overflow: hidden;
    padding-top: 56px;
    @include respond-to('small') {
        padding-top: 70px;
    }
    @include respond-to('medium') {
        padding-top: 124px;
    }
    @include respond-to('large') {
        padding-top: 142px;
    }
}

.home {
    #page {
        @include respond-to('medium') {
            padding-top: 0;
        }
    }
}

.container {
    max-width: 1180px;
    padding-left: 20px;
    padding-right: 20px;
    @include push--auto;
    @include respond-to('small') {
        padding-left: 40px;
        padding-right: 40px;
    }
    @include respond-to('xlarge') {
        padding-left: 0;
        padding-right: 0;
    }
}

.section {
    padding-top: 45px;
    padding-bottom: 45px;
    @include respond-to("small") {
        padding-top: 65px;
        padding-bottom: 65px;
    }
    @include respond-to("medium") {
        padding-top: 125px;
        padding-bottom: 135px;
    }
}

.btn-section {
    margin-top: 10px;
    @include respond-to("medium") {
        margin-top: 50px;
    }
}


/*----------  Section global  ----------*/

.section-title {
    h2 {
        letter-spacing: .79;
    }
    h3 {
        @include fluid-type(320px, 1360px, 14px, 16px);
        line-height: 18px;
        font-weight: 500;
        color: $contrast-color;
        text-transform: uppercase;
    }
    margin-bottom: 40px;
    @include respond-to('medium') {
        margin-bottom: 80px;
    }
    &--center {
        text-align: center;
    }
}

.icon-medium {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
    @include respond-to('medium') {
        width: 56px;
        height: 56px;
    }
    img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
    }
}


/*----------  Page global  ----------*/

.page-title {
    margin: 0 0 30px 0;
}