/*----------  Main layout  ----------*/

.layout {
    padding-bottom: 15px;
    position: relative;
    border-top: 6px solid $primary-color;
    .is-desktop {
        margin-top: 0;
    }
    &__main {
        padding-top: 40px;
        padding-bottom: 65px;
        @include respond-to('medium') {
            padding-left: 56px;
            padding-bottom: 55px;
            padding-top: 55px;
        }
    }
    // ------------ SIDEBAR LAYOUT
    &__sidebar {
        position: fixed;
        z-index: 999;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        padding: 0;
        transition: height 0.3s ease;
        @include respond-to('medium') {
            position: relative;
            z-index: 99;
            background-color: $secondary-color;
            &--background {
                background-color: $secondary-color;
                width: 5001px;
                height: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: -5000px;
            }
        }
        @include respond-to('medium') {
            position: relative;
            height: auto;
        }
        &__nav-tab {
            background-color: $primary-color;
            position: fixed;
            bottom: 0;
            width: 100%;
            left: 0;
            right: 0;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h5 {
                color: #fff;
                margin: 0;
            }
            .arrow {
                border: solid #fff;
                border-width: 0 2px 2px 0;
                transition: all 0.3s ease;
                transition-delay: 0.2s;
            }
            @include respond-to('medium') {
                display: none;
            }
        }
        &__nav-list {
            background-color: $secondary-color;
            height: 0;
            overflow: hidden;
            padding: 30px 20px;
            opacity: 0;
            transform: translateY(500px);
            transition: height 0.5s ease, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
            transition-delay: 0.2s;
            @include respond-to('medium') {
                opacity: 1;
                transform: none;
                padding: 55px 55px 55px 0;
                height: 100%;
                overflow: initial;
            }
        }
        &.active {
            height: 100%;
            z-index: 9999;
            padding-bottom: 42px;
            .layout__sidebar__nav-list {
                height: 100%;
                opacity: 1;
                transform: translateY(0);
                overflow-y: scroll;
            }
            .layout__sidebar__nav-list-inner {
                padding-bottom: 40px;
            }
            .layout__sidebar__nav-tab {
                .arrow {
                    transform: rotate(45deg);
                }
            }
        }
    }
    // ------------------FULL WIDTH LAYOUT
    &__full-width {
        background-color: $secondary-color;
        border-top: 6px solid $primary-color;
        padding-bottom: 0;
        .container {
            max-width: 1366px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    &__inner {
        padding: 40px 0;
        @include respond-to('medium') {
            padding: 40px 90px;
        }
        @include respond-to('large') {
            padding: 100px 140px;
        }
        @include respond-to('xlarge') {
            padding: 100px 180px;
        }
    }
}