/*----------  Navbar  ----------*/

.navbar {
    background: #fff;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-out;
    @include respond-to('medium') {
        background-color: transparent;
        position: absolute;
        background-color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
        overflow: initial;
        transition: none;
    }
    .container {
        max-width: 1366px;
        padding-left: 20px;
        padding-right: 20px;
        @include respond-to('medium') {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    &.active {
        height: 100%;
        overflow-y: auto;
        @include respond-to('medium') {
            height: auto;
        }
        .navbar__bottom {
            height: 100%;
            padding-bottom: 60px;
            padding-top: 30px;
            @include respond-to('medium') {
                padding-bottom: initial;
            }
        }
        .navbar__mobile {
            border-bottom: 3px solid $primary-color;
        }
    }
    &.sticky {
        top: -80px;
    }
    &__mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        @include respond-to('medium') {
            display: none;
        }
    }
    &__brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__logo-desktop {
        display: none;
        transition: all 0.3s ease;
        @include respond-to('medium') {
            display: block;
            width: 80px;
            align-self: flex-end;
            margin-bottom: 8px;
            .logo-white {
                display: none;
                width: 100%;
                transition: all 0.3s ease;
            }
            .logo-small {
                display: none;
                width: 35px;
                transition: all 0.3s ease;
            }
        }
        @include respond-to('large') {
            width: 120px;
            margin-bottom: 4px;
        }
    }
    &__logo {
        display: inline-block;
        width: 35px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
        @include respond-to('small') {
            height: 50px;
            width: 50px;
            margin-right: 30px;
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }
        &-partner {
            width: 110px;
            @include respond-to('small') {
                width: 140px;
            }
        }
    }
    &__bottom {
        height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        @include respond-to('medium') {
            overflow: initial;
            height: 100%;
            flex-direction: column;
            width: calc(100% - 80px);
            padding-left: 10px;
            transition: all 0.3s ease;
        }
        @include respond-to('large') {
            width: calc(100% - 110px);
            padding-left: 30px;
        }
        @include respond-to('xlarge') {
            padding-left: 60px;
        }
    }
    &__top {
        @include respond-to('medium') {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;
            transition: all 0.3s ease;
            opacity: 1;
        }
        @include respond-to('large') {
            margin-bottom: 12px;
        }
        &-logo-partner {
            display: none;
            @include respond-to('medium') {
                display: block;
                width: 120px;
            }
            @include respond-to('large') {
                display: block;
                width: 150px;
            }
            @include respond-to('large') {
                width: 210px;
            }
        }
    }
    &__list-wrap {
        display: flex;
        flex-direction: column-reverse;
        transition: all 0.3s ease;
        @include respond-to('medium') {
            flex-direction: row;
            align-items: center;
        }
    }
    &__list {
        @include respond-to('medium') {
            display: flex;
            right: 0px;
            &::after {
                content: "";
                display: inline-block;
                height: 20px;
                width: 1px;
                background-color: rgba(45, 52, 124, 0.5);
                position: relative;
                top: 4px;
                right: 3px;
                opacity: 0.5;
            }
        }
        @include respond-to('xlarge') {
            &::after {
                right: 10px;
            }
        }
        >li {
            cursor: pointer;
            @include respond-to('medium') {
                margin-right: 10px;
            }
            @include respond-to('xlarge') {
                margin-right: 25px;
            }
            &:hover,
            &:focus {
                >a {
                    color: $contrast-color;
                    font-weight: 600;
                }
            }
        }
        a {
            font-size: 16px;
            padding: 10px 0;
            display: block;
            font-weight: 500;
            transition: color 0.3s ease-out;
            @include respond-to('medium') {
                color: $primary-color;
                display: inline-block;
                vertical-align: middle;
                line-height: 18px;
                padding: 0 5px 0 0;
            }
            &::before {
                display: block;
                content: attr(data-text);
                font-weight: 600;
                height: 0;
                overflow: hidden;
                visibility: hidden;
            }
        }
    }
    .menu-item-has-children {
        >a:after {
            content: "";
            display: inline-block;
            border: solid $primary-color;
            border-width: 0 1px 1px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            position: relative;
            left: 8px;
            bottom: 3px;
            @include respond-to('medium') {
                display: none;
            }
        }
    }
    &__burger {
        width: 30px;
        height: 18px;
        position: relative;
        cursor: pointer;
        span {
            position: absolute;
            display: inline-block;
            width: 30px;
            height: 3px;
            background-color: $primary-color;
            transition-timing-function: ease;
            transition-duration: .15s;
            transition-property: transform;
            border-radius: 4px;
            &:nth-of-type(1) {
                top: 16px;
            }
            &:nth-of-type(2) {
                top: 8px;
            }
            &:nth-of-type(3) {
                top: 0;
            }
        }
    }
    @include respond-to('medium') {
        //-----------------------------sticky navbar
        &.sticky-navbar {
            background-color: $primary-color;
            position: fixed;
            top: 0;
            padding: 10px 0;
            transition: padding 0.4s ease;
            .logo,
            .logo-white {
                display: none;
            }
            .logo-small {
                display: block;
                transition: all 0.4s ease;
            }
            .navbar__top {
                display: none;
                opacity: 0;
            }
            .navbar__list {
                >li {
                    >a {
                        color: #fff;
                    }
                    &:hover,
                    &:focus {
                        >a {
                            color: $secondary-color;
                        }
                    }
                }
                &::after {
                    background-color: #fff;
                }
            }
        }
    }
}

// ------------------------home page overide styles
.home {
    @include respond-to('medium') {
        .navbar {
            background-color: transparent;
            transition: padding 0.5s ease;
        }
        .navbar__list {
            >li {
                >a {
                    color: #fff;
                }
                &:hover,
                &:focus {
                    >a {
                        color: $secondary-color;
                    }
                }
            }
            &::after {
                background-color: #fff;
            }
        }
        .sub-menu {
            a {
                color: $primary-color;
            }
        }
        .social-links {
            a {
                color: #fff;
                transition: all 0.3s ease;
                &:hover,
                &:focus {
                    color: $secondary-color;
                }
            }
        }
        .navbar__logo-desktop {
            .logo {
                display: none;
            }
            .logo-white {
                display: block;
            }
        }
        // stycky navbar
        .sticky-navbar {
            background-color: $primary-color;
            .logo-white {
                display: none;
            }
        }
    }
}

// Navbar submenu 
.menu-item-has-children {
    position: relative;
    >.sub-menu {
        display: none;
        @include respond-to('medium') {
            position: absolute;
            z-index: 9;
            left: 0;
            background-color: #fff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            min-width: 150px;
            width: max-content;
            display: block;
            max-height: 0;
            transition: max-height .3s ease-in-out;
            overflow: hidden;
        }
        &.hover {
            @include respond-to('medium') {
                max-height: 600px;
                transition: max-height .9s ease-in-out;
            }
        }
        li {
            a {
                &:hover,
                &:focus {
                    background: rgba(45, 52, 124, 0.1);
                    font-weight: 600;
                }
            }
        }
        a {
            display: block;
            padding: 10px 15px;
            @include fluid-type(320px, 1360px, 14px, 16px);
        }
        .current-menu-item {
            >a {
                font-weight: 600;
                background: rgba(45, 52, 124, 0.1);
            }
        }
        .sub-menu {
            padding-left: 20px;
            a {
                &:hover {
                    background-color: transparent;
                }
            }
            .current-menu-item {
                a {
                    background-color: transparent;
                }
            }
            @include respond-to('medium') {
                display: none;
            }
        }
    }
}

.social-links {
    border-top: 3px solid $primary-color;
    margin-top: 20px;
    padding-top: 20px;
    @include respond-to('medium') {
        display: flex;
        border-top: none;
        margin-top: 0;
        padding-top: 0;
    }
    a {
        color: $primary-color;
        padding: 8px 0;
        display: inline-block;
        transition: all 0.3s ease;
        @include respond-to('medium') {
            font-size: 14px;
            padding: 0 18px 0 0;
            font-weight: 400;
        }
        &:hover,
        &:focus {
            color: $contrast-color;
        }
    }
}