/*----------  Sidebar accordion ----------*/

.accordion__sidebar {
    .accordion__item {
        &:last-of-type {
            border-bottom: 0;
        }
        a {
            font-weight: 500;
            transition: all 0.3s ease;
            &::after {
                display: block;
                content: attr(data-text);
                font-weight: 700;
                height: 0;
                overflow: hidden;
                visibility: hidden;
            }
        }
        ul {
            margin-top: 5px;
        }
        >a {
            padding: 16px 40px 16px 0;
            transition: all 0.3s ease;
            display: block;
            @include fluid-type(320px, 1360px, 16px, 18px);
            @include line-height(320px, 1360px, 22px, 24px);
            &:hover,
            &:focus,
            &.active {
                font-weight: 700;
                span {
                    opacity: 1;
                }
            }
        }
        &.current_page_item {
            >a {
                font-weight: 700;
                span {
                    opacity: 1;
                }
            }
        }
        &.page_item_has_children {
            li {
                margin-bottom: 16px;
                border-bottom: 0;
                a {
                    @include fluid-type(320px, 1360px, 14px, 16px);
                    @include line-height(320px, 1360px, 21px, 24px);
                    padding: 0 0 0 30px;
                    display: block;
                    position: relative;
                    border-left: 2px solid transparent;
                    transition: all 0.3s ease;
                    &:hover,
                    &:focus,
                    &.active {
                        font-weight: 700;
                        border-left: 2px solid $primary-color;
                    }
                }
            }
        }
    }
    .arrow--right {
        border: solid $primary-color;
        border-width: 0 2px 2px 0;
        transform: rotate(-45deg);
        top: 20px;
        transition: all 0.3s ease;
        opacity: 0.6;
        &.up {
            transform: rotate(45deg);
            opacity: 1;
        }
    }
}